# This file provides an overview of code owners in this repository.

# Each line is a file pattern followed by one or more owners.
# The last matching pattern has the most precedence.
# For more details, read the following article on GitHub: https://help.github.com/articles/about-codeowners/.

# These are the default owners for the whole content of this repository. The default owners are automatically added as reviewers when you open a pull request, unless different owners are specified in the file.
# For this repository the owners are the Chair and the Co-chairs of the Technical Steering Committee (TSC)
* @hdamker @eric-murray @bigludo7

# Owners of the CODEOWNER and Maintainer.md files are the admins of CAMARA (to allow them to keep the teams within the CAMARA organization in sync in case of changes)
/CODEOWNERS @camaraproject/admins
/MAINTAINERS.MD @camaraproject/admins
